<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New page</title>
</head>
<body>

<p>eml click2</p>

<canvas id="myCanvas" width="200" height="200" />
<script>
    // from https://stackoverflow.com/questions/9880279/how-do-i-add-a-simple-onclick-event-handler-to-a-canvas-element
    console.log("elmCLik")

    var elem = document.getElementById('myCanvas'),
    // left side of canvas in pixels?
    elemLeft = elem.offsetLeft,
    // top of canvas
    elemTop = elem.offsetTop,
    context = elem.getContext('2d'),
    elements = [];
    console.log(elemLeft + " "+ elemTop);

// Add event listener for `click` events.
elem.addEventListener('click', function(event) {
    // pageX is the from the very beginging of the page to the x pos of the mouse
    // x here is the place where the mouseX actualy is on the page- the canvasX
       
    var x = event.pageX - elemLeft,
        y = event.pageY - elemTop;
    console.log(" LeftOfpage = "+event.pageX+", LeftOfCanvas = "+elemLeft);
    elements.forEach(function(element) {
        if (y > element.top && y < element.top + element.height && x > element.left && x < element.left + element.width) {
            alert('clicked an element');
        }
    });

}, false);

// Add element.
elements.push({
    colour: '#05EFFF',
    width: 150,
    height: 100,
    top: 20,
    left: 15
});

// Render elements.
elements.forEach(function(element) {
    context.fillStyle = element.colour;
    context.fillRect(element.left, element.top, element.width, element.height);
});

</script>


</body>
</html>