<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New page</title>
</head>
<body>
<p>test</p>
<button onclick="activateNewCircle()">make new circle</button>
<button onclick="exitFocusCircle()">exit focus circle</button>

<canvas id="canvas" width="1000" height="500"></canvas>
<script type=text/javascript src="{{
    url_for('static', filename='js/circle.js') }}"></script>
<script type=text/javascript src="{{
    url_for('static', filename='js/main.js') }}"></script>
</body>
</html>